@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-04-21 08:57:58
 * @version $Id$
 */
/*global*/
*{font-family:"微软雅黑";margin:0;padding:0;color:#8f8f8f;}
li{list-style:none;}
h1,h2,h3,h4,h5{font-weight:normal; font-size:12px;}
img{display:inline-block;border:none 0;}
span{margin:0;padding:0;}
a,em,i{text-decoration:none; font-style: normal;}
input{border:none 0; outline:none;}
textarea{ font-family:"微软雅黑","黑体"; color:#666; font-size:12px; outline: none;}
table{ border-collapse:collapse; border-spacing:0px;}
th,td{padding:0;}
body{margin:0;padding:0;color:#fafafa; font-family:"微软雅黑", "黑体";font-size:12px;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix:before,.clearfix:after{ content:" "; display:block; height:0; visibility:hidden; clear:both; overflow:hidden;}
.clearfix{zoom:1;}
.clearfix:after{clear:both;}
.hidden { display: none; }
  

/*index_nav*/
.Bnav{width:100%;height:80px;margin:10px 0;background:rgba(0,0,0,0); position:absolute; top:0; z-index:1000; overflow:hidden;}
.Bnav .navBox{width:1160px;margin:0 auto;}
.Bnav .logo{display:block;float:left;height:80px;width:208px;}
.Bnav .logo img{height:80px;width:208px;}
.Bnav ul{float:left;}
.Bnav .signUp{float:right;}
.Bnav ul li{float:left;margin-left:80px;}
.Bnav ul li a{ font-size:16px; line-height:80px; color:#fff;}
.Bnav ul li a:hover{color:#ff6b08;}
.Bnav .signUp input{width:65px;height:23px;border:solid 1px #ff6702; cursor:pointer;background:rgba(0,0,0,0);color:#ff6b08;margin-top:28px;}
.Bnav .signUp input:hover{background:#ff6702;color:#1b1b1b;}
.Bnav .signUp .current{background:#ff6702;color:#1b1b1b;}

/*NYtopNav*/
#top_bg{height:100px;width:100%;background:#fff;box-shadow:0px 1px 5px #4d4d4d;position:fixed;z-index:999;left:0;}
.top{width:1300px;height:100px;margin:0 auto;}
.top .logo_l{display:block;width:207px;height:80px;margin:10px 0;float:left;}
.top .logo_l img{width:207px;height:80px;}
.top .nav_z{z-index:999; float:left; padding-left:30px;}
.top .nav_z ul li{float:left;position:relative;}
.top .nav_z ul li h3 a{display:block; width:120px; text-align:center; line-height:100px;font-size:16px; color:#231815;}
.top .nav_z ul li:hover h3 a{background-color:#f5f5f5;}
.top .nav_z ul li .productNav{padding:40px 40px 50px;width:320px;background-color:#f5f5f5;position:absolute;top:98px;left:-145px;z-index:998;display:none;}
.top .nav_z ul li:hover .productNav{display:block;}
.top .nav_z ul li ul li{float:left;margin-right:40px;}
.top .nav_z ul li ul li:last-child{margin-right:0px;}
.top .nav_z ul li ul .lastLi{margin-right:0px;}
.top .nav_z ul li ul li dl dt{ font-size:14px; color:#ff6b08;margin-bottom:10px;}
.top .nav_z ul li ul li dl dd a{font-size:14px; color:#9d9c9c; line-height:33px;}
.top .nav_z ul li ul li dl dd a:hover{color:#ff6b08;}
.login{float:right; margin:37px 0px;width:134px;}
.login input{display:inline-block;width:65px;height:23px;border:solid 1px #ff6702;font-size:16px; cursor:pointer;background:rgba(0,0,0,0);color:#ff6b08;}
.login input:hover{background:#ff6702;color:#fff;}
.login .current{background:#ff6702;color:#fff;}

.login1{ float:right;}

/*ny_contact*/
.ny_downPart{ background:#e8e9ea; margin:0 auto; min-width:1200px;}
.ny_downPart .downBox{width:1160px;height:241px;padding-top:33px;margin:0 auto; overflow:hidden;}
.ny_downPart .downBox .about,.proNav,.slove,.contact,.search,.ewm{float:left;}
.ny_downPart .downBox .proNav{margin-left:120px;}
.ny_downPart .downBox .slove{margin-left:80px;}
.ny_downPart .downBox .contact{margin-left:100px;}
.ny_downPart .downBox h1{ font-size:14px; font-weight:bold;color:#747373;line-height:36px;}
.ny_downPart .downBox dl dd a{color:#747373; line-height:36px;}
.ny_downPart .downBox dl dd a:hover{color:#ff6b08;}
.ny_downPart .downBox .contact p{ line-height:28px;color:#747373;}
.ny_downPart .downBox .contact p span{padding-left:60px;color:#747373;}
.ny_downPart .downBox .contact p a{display:inline-block;width:69px;height:28px;margin-left:5px; background:url(../images/ny_23.png) no-repeat left center;vertical-align:top;}
.ny_downPart .downBox .ewm{float:right;margin-top:7px;width:147px;}
.ny_downPart .downBox .ewm span{display:block;width:124px;height:124px;color:#747373;}
.ny_downPart .downBox .ewm span img{width:124px;height:124px;}
.ny_downPart .downBox .ewm01 p{font-size:12px;height: 33px;color:#747373;padding-left:40px;margin-top:10px; background:url(../images/sy_icon01.png) no-repeat left;}
.ny_downPart .downBox .ewm02 p{font-size:12px;height: 33px;color:#747373;padding-left:40px;margin-top:10px; background:url(../images/sy_icon02.png) no-repeat left;}
/*copyright*/
.copyright{height:66px;background-color:#000; min-width:1200px;}
.copyright p{font-size:12px;line-height:66px;text-align:center;color:#9e9e9e;}
.copyright p a:hover{color:#fff;}