/* default font-family */
html, body {
    font-family: 'Microsoft YaHei', 'Open Sans', sans-serif;
}



/* table td vertial middle */
.table-bordered > tbody > tr > td {
    vertical-align: middle;
}

/* table no tr underline */
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 0 solid #dddddd;
}

/* table input auto width */
table tr td input[type="text"], table tr td input[type="number"] {
    font-size: inherit;
    min-width: 40px;
    width: 100%;
    padding: 4px;
}


/* bootstrap radio checkbox */
.radio, .checkbox {
    display: inline-block;
}


/* ace-switch label whitespace nowrap */
input.ace.ace-switch[type="checkbox"] + .lbl::before {
    font-family: 'Microsoft YaHei', 'Open Sans', sans-serif;
    white-space: pre;
}

input.ace.ace-switch.ace-switch-4[type="checkbox"] + .lbl::before,
input.ace.ace-switch.ace-switch-5[type="checkbox"] + .lbl::before {
    line-height: 22px;
}

input.ace.ace-switch.ace-switch-4[type="checkbox"]:checked + .lbl::before,
input.ace.ace-switch.ace-switch-5[type="checkbox"]:checked + .lbl::before {
    text-indent: 5px;
}


input.input-sm {
    padding: 4px;
    line-height: 1.3;
}

.profile-info-value {
    -ms-word-break: break-word;
    word-break: break-word;
}



/* pagination */
.pagination {
    display: block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination a, .pagination span {
        position: relative;
        padding: 6px 12px;
        line-height: 1.42857;
        text-decoration: none;
        border: 1px solid #D4DFE3;
        margin-left: -1px;
        border-radius: 0 !important;
        color: #2283C5;
        background-color: #FAFAFA;
        z-index: auto;
        display: inline-block;
    }

        .pagination a:focus {
            z-index: 3;
            color: #23527C;
            border-color: #DDD;
            background-color: #EAEEF2;
        }

        .pagination a:hover {
            z-index: 1;
            color: #1C6CA2;
            border-color: #C1D1D7;
            background-color: #EAEFF2;
        }

        .pagination a[disabled="disabled"] {
            background-color: #F9F9F9;
            border-color: #D9D9D9;
            z-index: auto;
            color: #777;
            cursor: not-allowed;
        }

        .pagination span.active {
            background-color: #6FAED9;
            border-color: #6FAED9;
            color: #FFF;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            z-index: 2;
            cursor: default;
        }


/* notification */
.dropdown-navbar > li.dropdown-footer > a:hover {
    text-decoration: none;
}

/* daterangepicker */
.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
    width: auto;
}

/* chosen 相对于普通input的高度 */
.chosen-container > .chosen-single, [class*="chosen-container"] > .chosen-single {
    line-height: 32px;
    height: 34px;
}

.chosen-container-single .chosen-single {
    border: 1px solid #d5d5d5;
}

    .chosen-container-single .chosen-single abbr {
        top: 7px;
    }

/* ckeditor file upload 需放在页面中才能有效果 */
.cke_dialog_ui_input_file {
    width: 100%;
    height: 30px;
}

/* over hide ... */
.overhide {
    display: block;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    -ms-word-break: keep-all;
    word-break: keep-all;
}
