* {
  box-sizing: border-box;
}
.container {
  background: #fdfdfd;
  padding: 1rem;
  margin: 3rem auto;
  border-radius: 0.2rem;
  counter-reset: pagination;
  text-align: center;
}
.container:after {
  clear: both;
  content: "";
  display: table;
}
.container ul {
  width: 100%;
}
.large {
  width: 42rem;
}
  ul, li {
    list-style: none;
    display: inline;
    padding-left: 0px;
  }
  
  /**.large li {
    counter-increment: pagination;
  }*/
  li:hover a {
    color: #fdfdfd;
    background-color: #1d1f20;
    border: solid 1px #1d1f20;
  }
  li.active a {
    color: #fdfdfd;
    background-color: #1d1f20;
    border: solid 1px #1d1f20;
  }
  
  li a {
    border: solid 1px #d6d6d6;
    border-radius: 0.2rem;
    color: #7d7d7d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
  }
  .large li a:after {
    content: " " counter(pagination) " ";
  }

  .large li a {
    display: none;
  }
  .large li:first-child a {
    float: left;
    display: inline-block;
  }
  .large li:first-child a:after {
    content: "<<<";
  }
  .large li:nth-child(2) a {
    counter-reset: pagination;
    display: inline-block;
  }
  .large li:nth-child(3) a {
    display: inline-block;
  }
  .large li:nth-child(4) a {
    display: inline-block;
  }
  .large li:nth-child(5) a {
    display: inline-block;
  }
  .large li:last-child a {
    float: right;
    display: inline-block;
  }
  .large li:last-child a:after {
    content: ">>>";
  }
  .large li:nth-last-child(2) a {
    display: inline-block;
  }
  .large li:nth-last-child(3) {
    display: inline-block;
  }
  .large li:nth-last-child(3):after {
    padding: 0 0.5rem;
    content: "...";
  }
