* {
  box-sizing: border-box;
}

.container {
  background: #fdfdfd;
  padding: 0rem;
  margin-top: 2.5rem;
  border-radius: 0.2rem;
  counter-reset: pagination;
  text-align: center;
}

.container:after {
  clear: both;
  content: "";
  display: table;
}

.container ul {
  width: 100%;
}

.large {
  width: 48rem;
}

.container li:first-child {
float: left;
}

.container li:first-child a:after {
  content: "Previous";
}

.container li:nth-child(2) {
  counter-reset: pagination;
}

.container li:last-child {
  float: right;
}

.container li:last-child a:after {
  content: "Next";
}

.large li a:after {
  content: " " counter(pagination) " ";
}

.large li a {
  display: none;
}

.large li:first-child a {
  float: left;
  display: inline-block;
}

.large li:first-child a:after {
  content: "<<<";
}

.large li:nth-child(2) a {
  display: inline-block;
}

.large li:nth-child(3) a {
  display: inline-block;
}

.large li:nth-child(4) a {
  display: inline-block;
}

.large li:nth-child(5) a {
  display: inline-block;
}

.large li:nth-child(6) a {
  display: inline-block;
}

.large li:nth-child(7) a {
  display: inline-block;
}

.large li:nth-child(8) a {
  display: inline-block;
}

.large li:nth-child(9) a {
  display: inline-block;
}

.large li:nth-child(10) a {
  display: inline-block;
}

.large li:last-child a {
  float: right;
  display: inline-block;
}

.large li:last-child a:after {
  content: ">>>";
}

.large li:nth-last-child(2) a {
  display: inline-block;
}

.large li:nth-last-child(3) {
  display: inline-block;
}

.large li:nth-last-child(3):after {
  padding: 0 0.5rem;
  content: "...";
}
